<section id="job1">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <hr class="primary">
                
<h2 class="code-line" data-line-start=2 data-line-end=3 ><a id="OPPORTUNITY_1"></a>Opportunity #1</h2>

<p><strong>Vice President, Client Services</strong></p>
<p><strong>Location:</strong> Work from Home</p>
<p><strong>More information about this job:</strong></p>
<p>We are a large global Business Process Outsourcing company with more than 26,000 employees around the world, including Canada, the United States, Europe, Central America, and the Philippines.&nbsp;With 175 million customer interactions supported annually via voice, email, chat and social media, across the telecommunications, utilities, high tech, gaming, finance, retail, e-commerce, travel and logistics, and healthcare industries, we enables customer experience innovation through spirited teamwork, agile thinking, and a caring culture that puts customers first.</p>
<p>&nbsp;</p>
<p><strong>Position Overview:</strong></p>
<p>We are looking for an enterprising&nbsp;Director/VP of Client Advocacy. &nbsp;Reporting to the Global VP for Client Service with the following key responsibilities:</p>
<ul>
<li>Customer Alliance and Strategic Relationship management &ndash; passionately pursuing a collaborative and strategic relationship based on a set of key customer priorities and common goals and grow the accounts yearly within a highly competitive environment</li>
<li>Strategic and operational focus &ndash; Establishing and leading the development and execution of our Account Strategy and Roadmap with key expectations that drives all Team Members around a common set of goals and objectives</li>
<li>Formulating and aligning strategies to operational objectives.&nbsp; Using industry knowledge and identify process improvements and innovative tools to enhance service delivery aligned with our customers key priorities</li>
<li>Sales - growing "wallet share" in current customer's organization through developing and maintaining a strategic based full service solutions environment</li>
<li>Leadership &ndash; ability to get things done through and with others in a matrixed international environment</li>
</ul>
<p><u>Location</u></p>
<p>This is a remote position where the team member may be based anywhere in North America</p>
<p><strong>&nbsp;</strong></p>
<p><strong>Specific Responsibilities May Include:</strong></p>
<ul>
<li>Establishing trusted and consultative customer relationships.&nbsp; Developing strong service relationships with our customers, dealing with end-to-end operational issues and&nbsp;bringing the global team together to collectively own the end to end customer experience.</li>
<li>Providing matrixed leadership to a team of Operations, Quality, Finance, Workforce, Learning Services professionals dedicated to our Client and lead by the Client Service Management Leader Targeting Customer Care and Business Growth initiatives. &nbsp;</li>
<li>This may include providing leadership to team members accountable for 24/7 customer escalation</li>
<li>Implementing&nbsp;interdependent relationships internally enabling a concerted support strategy.&nbsp;&nbsp;Developing&nbsp;and executing&nbsp;strategic projects, initiatives and programs and/or leading end-to-end cross-functional process improvement initiatives</li>
<li>Ensuring&nbsp;clients receive differentiated levels of service and value-add by creating and executing on key deliverables based on project targeting program innovation, thought leadership to deliver on - and exceed - all contracted service level agreements.&nbsp;</li>
<li>Retaining and growing our base.&nbsp;&nbsp;Actively participating in defining the&nbsp;future direction of our client's businesses and identifying new markets or business opportunities</li>
<li>Creating C-suite and Sr. Leader client&nbsp;relationships across our client business units to build upon our value creation and drive significant sources of incremental revenue and new opportunity development&nbsp;within all client BU&rsquo;s we can address</li>
<li>Preparing and managing&nbsp;budgets to meet corporate objectives and develop plans and strategies to improve end-to-end client experience</li>
</ul>
<p><strong>Required Experience, Skills &amp; Competencies:</strong></p>
<p><u>Required Knowledge</u></p>
<ul>
<li>Business and financial acumen - end to end operational knowledge of service delivery and assurance or customer care processes in a contact center environment</li>
<li>Knowledge of how sales and marketing drive new, repeat and growth business&nbsp;</li>
<li>Strong telecommunications/ technical knowledge</li>
<li>Knowledge of key client metrics in a contact center setting e.g. workforce management metrics, quality assurance metrics, customer satisfaction metrics, average handle time, etc</li>
<li>Global business acumen &ndash; understands business on a global scale, understands what works in many countries and what is different from country to country</li>
</ul>
<p><u>Required&nbsp;Skills &amp; Abilities</u></p>
<ul>
<li>Willingness and ability to work from a home office</li>
<li>Willingness and ability to travel for up to 35% of work hours&nbsp;</li>
<li>Communication: Demonstrated ability to forge positive relationships with senior level executives within client organizations.</li>
<li>Strategy: Proven success in setting the strategic direction and key expectations for the company. Ability to formulate and recommend strategies and operational objectives.&nbsp; Ability to use industry knowledge and identify process improvements to enhance services</li>
<li>Business Development: Ability to grow "wallet share" in current customer's organization through moving from a transaction based process environment to a strategic based full service solutions environment.&nbsp;</li>
<li>Alliance Management: Ability to negotiate and work towards common goals with an understanding of business and client solutions in a highly competitive environment.</li>
<li>Personal Characteristics: Results oriented.&nbsp;Ability to offer the inspiration, communication, and interpersonal relationship skills to make things happen.</li>
<li>Benchmarking: Knowledge of client operations, client experience (internal and external benchmarks) and TELCO industry&nbsp;</li>
<li>Change Management:&nbsp; Demonstrated ability to adapt quickly to change and provide change management guidance to others&nbsp;</li>
<li>Leadership:&nbsp; Ability to lead and motivate&nbsp;international matrixed operations teams &nbsp;</li>
<li>Financial acumen:&nbsp; Demonstrated ability to make decisions and problem solve based on financial and economic analysis to align with corporate strategic vision&nbsp;</li>
</ul>
<ul>
<li>Ability to facilitate solutions in a complex technology and business environment&nbsp;</li>
<li>Ability to work with diverse groups in terms of geography and different time zones</li>
</ul>
<ul>
<li>Ability to speak and write Spanish is not required but would be an asset</li>
</ul>
<p><u>Required Professional Designation/Certification</u></p>
<ul>
<li>Post-secondary education in a related field&nbsp;</li>
</ul>
<p><u>Required Experience</u></p>
<ul>
<li>Minimum 7 years in operational and/or client relationship management in a call center environment&nbsp;</li>
<li>Experience in a matrixed leadership role, leading process improvement teams or self-managed work teams&nbsp;</li>
<li>Experience in a revenue generating role&nbsp;</li>
<li>Demonstrated history of success in a sales and / or client relationship management&nbsp;</li>
<li>Financial acumen &ndash; ability to read and act upon financial reports and make sound business decisions that have positive business impacts</li>
</ul>
<p><u>Industry Knowledge and Experience</u></p>
<ul>
<li>Knows the outsourcing business and the mission-critical functional skills needed to do the job; understand various types of business propositions and understands how businesses operate in general.</li>
</ul>
<p><strong><u>Ethics</u></strong><strong><br /><br /></strong></p>
<p>A person of high character is consistent in acting in line with company values; talks straight; walks his / her talk; works through conflict; delivers negative feedback and messages without hesitation; deals fairly with problem performers; lets everyone know where they stand; not afraid to make negative decisions and take tough actions; challenges the status quo; direct, truthful, and keeps confidences</p>
<p>&nbsp;</p>
<p><u>Company Values:</u></p>
<p>The company recognizes and embraces the importance of values in our ever-changing workplace. To be suc<strong>c</strong>essful, all applicants must demonstrate behaviors that they are reflective of our values:</p>
<ul>
<li>We embrace change and initiate opportunity&nbsp;</li>
<li>We have a passion for growth&nbsp;</li>
<li>We believe in spirited teamwork&nbsp;</li>
<li>We have the courage to innovate</li>
</ul>
<p><strong><br /></strong>We are committed to diversity and equitable access to employment opportunities</p>
            </div>
    </div>
</section>
    


<section id="job2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <hr class="primary">
                
<h2 class="code-line" data-line-start=2 data-line-end=3 ><a id="OPPORTUNITY_2"></a>Opportunity #2</h2>
                
<p><strong><u>Vice President of Business Development, Healthcare Payors </u></strong></p>
<p>Your job will be to work with a high-performance team to grow revenue and profits by increasing value for our clients and their end-consumers. You will personally&nbsp;cultivate new logo opportunities selling multi-channel contact center, back office, RPA, clinical and non-clinical Provider outsourcing services that are consistent with company objectives, goals, and standards to secure sales to exceed revenue targets. You must have a proven, individual&nbsp;sales record of working in direct sales to build successful relationships with clients.</p>
<p>&nbsp;Are you a true sales hunter?&nbsp; Please consider this role if you are solutions oriented and a consultative deal driven sales person with the following personal attributes: 1) intense intellectual curiosity about exceeding consumer expectations, 2) keenly situationally aware, 3) a selfless team player 4) relentless in the pursuit of closing large global deals, 5) deep appreciation for global delivery and global diversity, and 6) guided by a strong ethical compass.</p>
<p>&nbsp;We offer very competitive salary, benefits and commission program as well as career advancement opportunities for high performers.</p>
<p>&nbsp;</p>
<p><strong><u>Principal Duties and Responsibilities:</u></strong></p>
<p>Seeking a seasoned sales professional with experience in the healthcare software products field.&nbsp; Extensive experience selling software and technology solutions to healthcare payers including Blues, commercial payers and emerging hybrid organizations is expected.&nbsp; Experience should include opening new accounts, prospecting within existing accounts, client relationship management, account management and sales strategy.&nbsp; Must have experience selling to regional and national payers, healthcare services (not products or software), have clinical sales background, population health services, care coordination, SDoH and nurse triage.&nbsp; A preference for experience in international sales activities and multi-shore.</p>
<p>&nbsp;</p>
<ul>
<li>Responsible for meeting and exceeding revenue target goals:
<ul>
<li>Year 1 - $3.5 MM</li>
<li>Year 2 - $5 MM</li>
<li>Year 3 - $7.5 MM</li>
</ul>
</li>
<li>Must have strong experience and relationships in the verticals of Healthcare with proven success in Provider services.</li>
<li>Manage sales pursuits from the lead generation stage to needs assessment, instrumental in the development of the solution, value proposition and provocation, write proposals and presentations, and close. Must have the experience to sell the solution internally while working with the prospect to move the opportunity through the pipeline and close it. &nbsp;</li>
<li>Determine the viability of client programs based on client expectations and available company resources to ensure expectations can be met and client programs are profitable.</li>
<li>Manage the business development communication process to ensure all affected departments are aware of client programs that will require resources. &nbsp;</li>
<li>Support marketing efforts by providing input, based on market indicators, on the development of services and providing pricing information for those services.</li>
<li>Keep abreast of market needs in the industry or industries targeted and keep offers management and client services informed.</li>
<li>Must maintain SalesForce.com tool with all sales efforts using established Staging from lead, opportunity through close to track and report the status of new business development efforts and pipeline growth.</li>
<li>Interact closely with Operations, Client Services, I.T., Solution Engineers, and sales support team as necessary.</li>
<li>Artfully manage internal multi-national relationships and the prospective company as you negotiate terms in a professional environment.</li>
</ul>
<p>&nbsp;</p>
<p>The above statements are intended to indicate the general nature and level of work being performed by employees within this classification. They are not intended to be an exhaustive list of all responsibilities, duties and skills required of employees assigned to this job. Employees in this job may perform other duties as assigned. In addition to the above, all company employees are expected to demonstrate strong business ethics, morals and character as key tenants of your working relationships with your prospects. &nbsp;</p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong><u>What You'll Bring:</u></strong></p>
<p><strong>&nbsp;</strong></p>
<p>Our goal is to find a candidate with experience selling, and consultative knowledge of, many of the following services:</p>
<p>&nbsp;</p>
<ol>
<li>Clinical sales</li>
<li>Population Health Management</li>
<li>Medical Device Monitoring Services</li>
<li>Physician Scheduling</li>
<li>Care Management</li>
<li>Patient Excellence</li>
<li>Life Sciences</li>
<li>Denials/Reversals</li>
<li>Revenue Cycle Management<br /><br /></li>
</ol>
<p>&nbsp;In addition:</p>
<ul>
<li>Minimum of 10 years of successful sales experience in the healthcare vertical required.</li>
<li>Aggressive sales executive who can to forge key relationships with CEO's, CFO&rsquo;s and other C-suite executives as well as key line of business contacts, along with internally aligning support for contract execution.</li>
<li>Proven ability to develop new BPO business and proven success in meeting sales quotas.</li>
<li>Deep expertise selling globally.</li>
<li>Strong and capable leader that is self-motivated and driven to win the confidence and trust of her/his prospects, clients, global operations, and pursuit teams alike - establishing winning strategies, and exerting influence both internally and externally to win new business.</li>
<li>Innovative team player with the energy, creativity and an entrepreneurial spirit to achieve success. A professional who earns respect for his/her leadership, intelligence and expertise.</li>
<li>Success as a superb relationship builder, negotiator and communicator.</li>
<li>Bachelor&rsquo;s Degree. Advanced degree a plus.</li>
<li>Proficient in use of PC applications software: MS-Word, MS Project, Excel, and Visio.</li>
<li>Excellent communication skills, both written and verbal.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
    
    

    
<section id="job3">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <hr class="primary">
                
<h2 class="code-line" data-line-start=2 data-line-end=3 ><a id="OPPORTUNITY_3"></a>Opportunity #3</h2>
                
<p><strong><u>Vice President of Business Development, Healthcare Provider/Payer Sales </u></strong></p>
<p>Your job will be to work with a high-performance team to grow revenue and profits by increasing value for our clients and their end-consumers. You will personally&nbsp;cultivate new logo opportunities selling multi-channel contact center, back office, RPA, clinical and non-clinical Provider outsourcing services that are consistent with company objectives, goals, and standards to secure sales to exceed revenue targets. You must have a proven, individual&nbsp;sales record of working in direct sales to build successful relationships with clients.</p>
<p>&nbsp;Are you a true sales hunter?&nbsp; Please consider this role if you are solutions oriented and a consultative deal driven sales person with the following personal attributes: 1) intense intellectual curiosity about exceeding consumer expectations, 2) keenly situationally aware, 3) a selfless team player 4) relentless in the pursuit of closing large global deals, 5) deep appreciation for global delivery and global diversity, and 6) guided by a strong ethical compass.</p>
<p>We provide a very competitive salary, benefits and commission program as well as career advancement opportunities for high performers.</p>
<p><strong><u>Principal Duties and Responsibilities:</u></strong></p>
<p>Seeking a seasoned sales professional with experience in the healthcare software products field.&nbsp; Extensive experience selling software and technology solutions to healthcare payers including Blues, commercial payers and emerging hybrid organizations is expected.&nbsp; Experience should include opening new accounts, prospecting within existing accounts, client relationship management, account management and sales strategy.&nbsp; Must have experience selling to regional and national payers, healthcare services (not products or software), have clinical sales background, population health services, care coordination, SDoH and nurse triage.&nbsp; A preference for experience in international sales activities and multi-shore.</p>
<p>&nbsp;</p>
<ul>
<li>Responsible for meeting and exceeding revenue target goals:
<ul>
<li>Year 1 - $3.5 MM</li>
<li>Year 2 - $5 MM</li>
<li>Year 3 - $7.5 MM</li>
</ul>
</li>
<li>Must have strong experience and relationships in the verticals of Healthcare with proven success in Provider services.</li>
<li>Manage sales pursuits from the lead generation stage to needs assessment, instrumental in the development of the solution, value proposition and provocation, write proposals and presentations, and close. Must have the experience to sell the solution internally while working with the prospect to move the opportunity through the pipeline and close it. &nbsp;</li>
<li>Determine the viability of client programs based on client expectations and available company resources to ensure expectations can be met and client programs are profitable.</li>
<li>Manage the business development communication process to ensure all affected departments are aware of client programs that will require resources. &nbsp;</li>
<li>Support marketing efforts by providing input, based on market indicators, on the development of services and providing pricing information for those services.</li>
<li>Keep abreast of market needs in the industry or industries targeted and keep offers management and client services informed.</li>
<li>Must maintain SalesForce.com tool with all sales efforts using established Staging from lead, opportunity through close to track and report the status of new business development efforts and pipeline growth.</li>
<li>Interact closely with Operations, Client Services, I.T., Solution Engineers, and sales support team as necessary.</li>
<li>Artfully manage multi-national relationships within HGS and the prospective company as you negotiate terms in a professional environment.</li>
</ul>
<p>The above statements are intended to indicate the general nature and level of work being performed by employees within this classification. They are not intended to be an exhaustive list of all responsibilities, duties and skills required of employees assigned to this job. Employees in this job may perform other duties as assigned. In addition to the above, all employees are expected to demonstrate strong business ethics, morals and character as key tenants of your working relationships with your prospects. &nbsp;</p>
<p><strong><u>What You'll Bring:</u></strong></p>
<p>Our goal is to find a candidate with experience selling, and consultative knowledge of, many of the following services:</p>
<p>&nbsp;</p>
<ol>
<li>Clinical sales</li>
<li>Population Health Management</li>
<li>Medical Device Monitoring Services</li>
<li>Physician Scheduling</li>
<li>Care Management</li>
<li>Patient Excellence</li>
<li>Life Sciences</li>
<li>Denials/Reversals</li>
<li>Revenue Cycle Management</li>
</ol>
<p>&nbsp;</p>
<p>In addition:</p>
<p><strong>&nbsp;</strong></p>
<ul>
<li>Minimum of 10 years of successful sales experience in the healthcare vertical required.</li>
<li>Aggressive sales executive who can to forge key relationships with CEO's, CFO&rsquo;s and other C-suite executives as well as key line of business contacts, along with internally aligning support for contract execution.</li>
<li>Proven ability to develop new BPO business and proven success in meeting sales quotas.</li>
<li>Deep expertise selling globally.</li>
<li>Strong and capable leader that is self-motivated and driven to win the confidence and trust of her/his prospects, clients, global operations, and pursuit teams alike - establishing winning strategies, and exerting influence both internally and externally to win new business.</li>
<li>Innovative team player with the energy, creativity and an entrepreneurial spirit to achieve success. A professional who earns respect for his/her leadership, intelligence and expertise.</li>
<li>Success as a superb relationship builder, negotiator and communicator.</li>
<li>Bachelor&rsquo;s Degree. Advanced degree a plus.</li>
<li>Proficient in use of PC applications software: MS-Word, MS Project, Excel, and Visio.</li>
<li>Excellent communication skills, both written and verbal.</li>
</ul>
<p><strong>&nbsp;</strong></p>
<p>&nbsp;</p>
                


                    
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Call Center Director</p>
<p>&nbsp;</p>
<p>Kingston, Jamaica &bull; Position is located in Kingston, Jamaica &bull;</p>
<p>&nbsp;</p>
<p>Position Summary:</p>
<p>Responsible for a Line of Business within operation engagement center including profitability (P/L) and (SGA). Duties may include developing and monitoring service standards and goals; performing sales and service analysis, improving group performance, coordinating staff, budget and resources to provide quality service and/or improve sales performance.</p>
<p>&nbsp;</p>
<p>Assists in the development and implementation of operational business plans and initiatives. Manages client relationships to grow and support current business. Balances short-term and long-term business operational objectives to maximize performance for the client. Provides guidance and support to all departments regarding their areas of responsibility, resolving complex problems or inquiries.</p>
<p>&nbsp;</p>
<p>Responsible for monitoring performance on defined client metrics; deploying human and technology resources to maximize the efficiency and effectiveness of engagement center activities. Directs other managers to accomplish goals. Hires, trains, develops, and retains a diverse workforce.</p>
<p>&nbsp;</p>
<p>Essential Duties &amp; Responsibilities:</p>
<p>Manages the operation of a LOB within an engagement center to ensure client expectations are met and business objectives are obtained. &bull; Leads the implementation of strategic plans and initiatives. &bull; Monitors performance metrics for the client and takes steps to ensure projects and initiatives stay on course and goals are achieved. &bull; Directly manages a team of operations managers and 500 FTE, directing their activities toward accomplishing client goals and objectives.</p>
<p>&nbsp;</p>
<p>Hires, trains, develops and retains a diverse workforce. Writes and conducts performance evaluations, makes employment decisions, sets performance goals and objectives for assigned team. &bull; Meets regularly with operations leadership and support department leadership and staff to review center performance for the client.&nbsp;</p>
<p>&nbsp;</p>
<p>Leads and participates in internal and external organizations in the development of business practices that enable the delivery of customer service more effectively and efficiently.</p>
<p>&nbsp;</p>
<p>May perform other related duties and responsibilities as assigned and/or required, including leading or participating in projects as necessary.</p>
<p>&nbsp;</p>
<p>Job Requirements:</p>
<p><em>Related Work Experience</em>: 8-10 years related experience including 3-5 years progressive management experience.</p>
<p>&nbsp;</p>
<p><em>Education and/or formal training</em>:&nbsp; Bachelor&rsquo;s degree required; Master&rsquo;s degree highly desirable.</p>
<p>&nbsp;</p>
<p><em>Knowledge, Skills and Abilities:</em> Fluent in verbal and written English. Able to multi-task, and have demonstrated organizational, detail orientation, prioritization skills and time management skills to ensure that work related activities are completed in an accurate and timely manner. Ability to work effectively in a team oriented, high demand and fast paced environment. Ability to maintain high level of confidentiality and work with highly sensitive data and information.&nbsp; Solid communication skills to effectively deal with various levels of management, staff and/or outside contacts. Demonstrated interpersonal skills to work effectively in a team environment and maintain a professional and positive manner.&nbsp; Effective listening skills to ensure understanding of instructions and directions and effectively communicate progress and problems to co-workers and management.</p>
<p>&nbsp;</p>
<p>Familiarity a variety of office equipment, standard software packages and application and use of personal computers to include the Microsoft Office suite of products. Demonstrated effective project management, presentation, negotiation and persuasion skills.&nbsp; Ability to proactively and continually collaborate with clients and colleagues to ensure needed business outcomes.</p>
<p>&nbsp;</p>
<p>Demonstrated analytical aptitude to identify opportunities for change, identify alternative best practice solutions and anticipate future problems and opportunities. Demonstrated problem identification and problem resolution skills used to effectively determine and implement alternative solutions and bring issues to a positive resolution.</p>
<p>&nbsp;</p>
<p>Demonstrated ability to apply assessment measurement and evaluation techniques to ensure processes, systems and applications meet business needs.&nbsp; Demonstrated ability to solve complex of problem; gleans meaning from whatever date is available; is a quick study of the new and different. Learns new methods and technologies easily.</p>
<p>&nbsp;</p>
<p>Adds personal wisdom and experience to come to the best conclusion and solution, given the situation; used multiple problem-solving tools and techniques.&nbsp; Effective problem-solving skills used to identify and resolve day-to-day operation and employee relations problems.</p>
<p>&nbsp;</p>
<p>Demonstrated leadership skills to effectively develop and lead a high performing team in meeting function/department/company short-term goals and objectives. Ability to take charge and get results within a team environment. Demonstrated ability to resolve differences impartially and bring issues to a positive resolution. Demonstrated change management aptitude and ability. Takes a proactive role in bring about change, applying new ways to develop the business through improved management of people and processes.</p>
<p>&nbsp;</p>
<p>Ability to think strategically and identify critical success factors when developing strategy and plans for assigned area of responsibility. Ability to translate diverse pieces of information into meaningful conclusions and results.</p>
<p>&nbsp;</p>
<p>Ability to proactively develop and maintain solid business partnerships to ensure success in balancing the department and customer needs with the legal and financial expectations of the organization and ensure needed business outcomes.&nbsp;</p>
<p>&nbsp;</p>
<p>Demonstrated ability to clearly and concisely express ideas and concepts verbally and inwriting and adopts writing style and language to fit the situation/audience. &nbsp;Knows the business and the mission-critical technical and functional skills needed to do the job; understands various types of business propositions and understand how businesses operate in general.&nbsp;</p>
<p>&nbsp;</p>
<p>Takes on all issues, challenges and people; comfortably confronts and works through conflict; delivers negative feedback and messages without hesitation deals promptly and fairly with problem performers and lets everyone know where they stand.</p>
<p>&nbsp;</p>
<p>Thrives in crises and is energized by tough challenges. &nbsp;Not afraid to make negative decisions and take touch actions; challenges the status quo.</p>
<p>&nbsp;</p>
<p>Demonstrated ability to formulate and actualizes short-range plans to implement business strategies. Must have an in-depth knowledge of call processing, customer service principles, collections, telemarketing sales, customer retention and loyalty, or engagement center management. &nbsp;</p>
<p>Other position Considerations:</p>
<p>Travel may be required to attend work related meetings and training sessions.</p>
<p>&nbsp;</p>
<p>May be required to work a flexible schedule that provides needed coverage for customer service levels and/or time-sensitive projects. Incumbent must be able to support operations which are opened weekends and evenings.</p>
<p>&nbsp;</p>
<p>All employees must be willing to work all shifts, overtime, holidays and emergency shifts as required.</p>
<p>&nbsp;</p>
<p>Able to maintain a regular work schedule to meet the needs of the business.</p>
<p>&nbsp;</p>
<p>Required to read and follow all company policies and procedures. &bull; Support and model the company values.</p>
<p>&nbsp;</p>
<p>We are an Equal Opportunity Employer</p>
<p>&nbsp;</p>
                    
                                </div>
    </div>
</section>
